<h1>Libraries</h1>
<%= form_with url: libraries_path, method: :get do |f| %>
    <%= f.text_field :search, autocomplete: :off %>
    <%= f.submit "Search" %>
<% end %>
<hr>
<div id="libraries_index">
    <%= render partial:"libraries/index" %>
</div>

<br>

<%= link_to 'New Library', new_library_path %>
<button onclick="listenerButton()">Onclick JS function from pack/home.js</button>

<button id="custombutton">Event Listener on App JS</button>

<button onclick="listenerCuba()">Onclick JS function from custom/cuba.js</button>