<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @library.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @library.description %>
</p>

<p>
  <strong>Cover:</strong>
  <%= @library.cover %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
